#{extends 'main.html' /}
#{set title:'Lista de Dobras' /}

#{if flash.success}
<div class="col-md-6">
	<div class="alert alert-success col-md-12 col-sm-12  alert-icon alert-dismissible fade in" role="alert">
		<div class="col-md-2 col-sm-2 icon-wrapper text-center">
			<span class="fa fa-check fa-2x"></span>
		</div>
		<div class="col-md-10 col-sm-10">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<p>
				<strong>Sucesso!</strong> ${flash.success.raw()}  
			</p>
		</div>
	</div>
</div>
#{/if}

<div class="panel box-shadow-none content-header">
                  <div class="panel-body">
                    <div class="col-md-12">
                        <h3 class="animated fadeInLeft">Cadastro</h3>
                        <p class="animated fadeInDown">
                          Lista <span class="fa-angle-right fa"></span> Alunos <span class="fa-angle-right fa"></span> Avaliação Física
                        </p>
                    </div>
                  </div>
              </div>
              <div class="col-md-12 top-20 padding-0">
                <div class="col-md-12">
                  <div class="panel">
                    <div class="panel-heading"><h3>Avaliação Física - Dobras</h3></div>
                    <div class="panel-body">
                      <div class="responsive-table">
                      <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Percentual de Gordura</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                      #{list items:dobras, as:'d'}
						<tr>
							<td>${d.resultado}</td> 
						</tr>
					  #{/list}
                        
                      </tbody>
                        </table>
                      </div>
                      <input type="hidden" name="aluno.id" value="${aluno?.id}">
                      <a href="@{Dobras.form(aluno?.id)}"><input type="button" class="btn btn-round btn-primary" value="Novo"/></a>
                  </div>
                </div>
              </div>  
              </div>
