#{extends 'main.html' /}
#{set title:'Exercicios' /}


<div class="panel box-shadow-none content-header">
	<div class="panel-body">
		<div class="col-md-12">
			<h3 class="animated fadeInLeft">Cadastro</h3>
			<p class="animated fadeInDown">
				Exercícios <span class="fa-angle-right fa"></span> Lista <span class="fa-angle-right fa"></span> Detalhes
			</p>
		</div>
	</div>
</div>

<div class="col-md-10">
        <div class="col-md-12 panel">
          <div class="col-md-12 panel-heading">
            <h4>Exercício</h4>
          </div>
          <div class="col-md-12 panel-body" style="padding-bottom:30px;">
               <div class="col-md-12">
                 <form class="cmxform" id="signupForm">
                 	
                 	<input type="hidden" name="exercicio.id" value="${exercicio?.id}">
                   
                   <div class="col-md-6">
                     
                     <div class="form-group"><label class="col-sm-2 control-label text-right">Nome</label>
                       <input type="text" class="form-control" name="exercicio.nome" value="${exercicio?.nome}" disabled>
                     </div>
<br />
                     <div class="form-group"><label class="col-sm-2 control-label text-right">Imagem</label>
                       	<img title="${exercicio}" src="@{Exercicios.obterImagem(exercicio.id)}"height="300" width="300">
                     </div>
                     
                   </div>
                   
               </div>
                                      
                   <div class="col-md-12">
                   <br />
                       <a href="@{Exercicios.lista}"><input class="btn btn-round btn-primary" type="button" value="Voltar"></a>
                       <a href="@{Exercicios.form(exercicio?.id)}"><input type="button" class="btn btn-round btn-warning" value="Editar"/></a>
  <a href="@{Exercicios.deletar(exercicio?.id)}"> <input type="button" class="btn btn-round btn-danger" value="Excluir"/></a>
                 </div>
               </form>

             </div>
           </div>
         </div>
       </div>
