#{extends 'main.html' /} #{set title:'Programas' /}


<div class="panel box-shadow-none content-header">
	<div class="panel-body">
		<div class="col-md-12">
			<h3 class="animated fadeInLeft">Cadastro</h3>
			<p class="animated fadeInDown">
				Treino <span class="fa-angle-right fa"></span> Lista <span
					class="fa-angle-right fa"></span> Detalhes
			</p>
		</div>
	</div>
</div>

<div class="col-md-10">
	<div class="col-md-12 panel">
		<div class="col-md-12 panel-heading">
			<h4>Treino</h4>
		</div>
		<div class="col-md-12 panel-body" style="padding-bottom: 30px;">
			<div class="col-md-12">
				<form class="cmxform" id="signupForm">
					<input type="hidden" name="programa.id" value="${programa?.id}">

					<div class="col-md-6">

						<div class="form-group">
							<label>Nome</label> <input type="text" class="form-control" name="programa.nome" value="${programa?.nome}" disabled>
						</div>

						<br />
						<div class="form-group">
							<label>Data de Inicio</label> <input type="text" class="form-control" name="programa.dataInicio" value="${programa?.dataInicio.format('dd/MM/yyyy')}" disabled>
						</div>

						<br />
						<div class="form-group">
							<label>Data de Fim</label> <input type="text" class="form-control" name="programa.dataFim" value="${programa?.dataFim.format('dd/MM/yyyy')}" disabled>
						</div>

					</div>
					
					<div class="col-md-6"></div>
			</div>

			<div class="col-md-12">
				<br /> 
				<a href="@{Programas.lista}"><input class="btn btn-round btn-primary" type="button" value="Voltar"></a>
				<a href="@{Programas.form(programa?.id)}"><input type="button" class="btn btn-round btn-warning" value="Editar" /></a>
				<a href="@{Programas.deletar(programa?.id)}"> <input type="button" class="btn btn-round btn-danger" value="Excluir" /></a>
				<a class="btAddSeries" href="#"><input class="btn btn-round btn-success" type="button" value="Adicionar Series"></a>
			</div>
			
			</form>
			
			
			<form class="cmxform" id="formSeries" method="post" action="@{Series.salvar}">
			
				<input type="hidden" name="serie.programa.id" value="${programa.id}" >
	          	
	          	<input type="hidden" name="serie.id" value="${serie?.id}">
	            
	            <div class="col-md-6">
	              
	              
	              <div class="form-group">
	              <br />
	              <br />
	              	<label>Exercício</label>
	              	<select name="serie.exercicio.id">
	              		#{list items:exercicios, as:'e'}
							<option value="${e.id}">${e.nome}</option>              	              		
	              		#{/list}
	              	</select>
	              </div>
	
	              <div class="form-group form-animate-text" style="margin-top:40px !important;">
	                <input type="text" class="form-text" name="serie.quantidade" value="${serie?.quantidade}" required>
	                <span class="bar"></span>
	                <label>Quantidade</label>
	              </div>
	              
	              <div class="form-group form-animate-text" style="margin-top:40px !important;">
	                <input type="text" class="form-text" name="serie.repeticao" value="${serie?.repeticao}" required>
	                <span class="bar"></span>
	                <label>Repetição</label>
	              </div>                
	            
	            </div>
	                               
	            <div class="col-md-12">
	            <br />
	                <input class="btn btn-round btn-success" type="submit" value="Salvar">
	          </div>
        	</form>
		
			<div class="col-md-12">
			<br />
				<div class="responsive-table">
					<table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
	               		<thead>
	                 		<tr>
	                   			<th>Exercício</th>
	                   			<th>Quantidade</th>
	                   			<th>Repetição</th>
	                   			<th></th>
	                 		</tr>
	               		</thead>
	               		<tbody>
	               			#{list items:programa.series, as:'s'}
								<tr>
									<td> ${s.exercicio} </td>
									<td> ${s.quantidade} </td>
									<td> ${s.repeticao} </td> 
									<td><a href="@{Series.show(s.id)}"><input type="button" class="btn btn-round btn-primary" value="Detalhes"/></a>
									</td>
								</tr>
					  		#{/list}
		                </tbody>
		        	</table>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$("#formSeries").hide();
		
		$(".btAddSeries").click(function(e) {
			e.preventDefault();
			$("#formSeries").toggle(400);
		});
	});
</script>